* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Header-2';
    src: url('fonts/Lovelo black.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Text';
    src: url('fonts/phosph09.ttf');
}

@font-face {
    font-family: 'my_txt';
    src: url('fonts/sinkinsans-400regular.otf');
}

h1 {
    font-family: 'Header-2';
}

body {
    font-family: 'my_txt'; 
}